

@model WebApplication2.Models.emp
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("UpdateData", "Default"))
{
    <input type="hidden" name="ID" value="@Model.id" />
    <label class="col-md-2">Name:</label>
    <div class="col-md-10">
        <input type="text" name="name" class="form-control" />
    </div>
    <br />
    <br />
    <label class="col-md-2">Address:</label>
    <div class="col-md-10">
        <input type="text" name="address" class="form-control" />
    </div>
    <br />
    <br />
    <label class="col-md-2">Contact:</label>
    <div class="col-md-10">
        <input type="text" name="contact" class="form-control" />
    </div>
    <br />
    <div class="col-md-2">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
}


